#head{
	
	text-align: center;
	color: #003399;
	font-weight: bold;
}	
#header {
    background-color:#0099CC;
    color:white;
    margin:auto;
    text-align:left;
    padding:10px;
    height:100px;
    width:100%;
}
#results{
	color:black;
	font-size: 40px;
	text-align: center;
	font-family:Serif, Times New Roman, Georgia,;

}
#footer{
	position: fixed;
	bottom: 0px;
	padding: 5px;
	background-color:white;
	width: 100%;
	color:black;
}
#footer p{
		text-align: center;
		font-size: 100%;
		color: black;
	}
#menu
	{
		float:left;
		padding:10px;
		background-color:#ADD8E6;
		width:100%;
	}
body{background-color: #DDECEF}
img{float:left;}